* {
    padding: 0;
    margin: 0;
    box-sizing: border;
    scroll-behavior: smooth;
    color: white;
}

$bg-btn : blue;
$bg-input-card : blue;
$bg-project_card : blue;
$bg-input : white;
$color-head : white;

@mixin flex($direction : row, $justify : center, $align : center, $gap : 0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

body {
    min-height: 100vh;
    background-color: black;
}

button {
    background-color: $bg-btn;
    padding: 10px 15px;
    border: 2px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

// -----------NAVBAR---------------
.nav {
    position: fixed;
    width: 100vw;
    z-index: 2;
    transition: all .4s ease;
    box-shadow: 0 0 8px 4px white;
}

.navbar {
    @include flex(row, space-between, center, 0);
    padding: 10px;
    width: 95vw;

    & ul {
        @include flex(row, center, center, 10px);

        & li {
            @include flex(row, center, center, 0);

            @media screen and (max-width : 700px) {
                & {
                    display: none;
                }

            }
        }
    }
}

.hamburger {
    display: none;
}

@media screen and (max-width : 700px) {
    .hamburger {
        display: flex;
    }
}

a {
    text-decoration: none;
}

// -----------HOME----------------


.home {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 0 20px;
    position: relative;

    .a4 {
        display: none;
    }

    @media screen and (max-width : 700px) {
        & {
            grid-template-columns: 1fr;
            gap: 2vh;
            min-height: 70vh;
        }

        & div:nth-child(1) {
            order: 2;
        }

        & div:nth-child(2) {
            order: 1;
        }

        .a4 {
            display: flex;
            padding-top: 5vh;
        }

    }
}

.photo {
    height: 100%;
    width: 100%;
    @include flex;

}

.photo img {
    width: 100%;
    border-radius: 80px 80px 0 0;
}

@media screen and (min-width : 1200px) {
    .photo {
        height: fit-content;

    }

    .photo img {
        width: 80%;
    }


}

@media screen and (max-width : 700px) {
    .photo img {
        width: 100%;
    }

    .homepage_pic_div {
        display: flex;
        justify-content: flex-end;
        height: 20vh;
    }

}

.download_btn button {
    background-color: transparent;
}


// -----------------ABOUT---------------------

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 5vh 3vh;
    min-height: 60vh;

    @media screen and (max-width : 700px) {
        & {
            grid-template-columns: 1fr;
            gap: 2vh;
            place-items: center;
        }
    }

}

.about_heading1 {
    display: none;
}

.about_heading2 {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
}

@media screen and (max-width : 700px) {
    .about_heading1 {
        @include flex;
        font-size: 30px;
        color: $color-head;
        text-transform: uppercase;
    }

    .about_heading2 {
        display: none;
    }
}

.about_box1 {
    @include flex(column, flex-start, center, 20px);
}

.about_box2 {
    @include flex(column, flex-start, flex-start, 20px);
}

.about_cards {
    @include flex(row, center, center, 10px);
}

.about_card {
    @include flex(column, center, center, 4px);
    background-color: $bg-input-card;
    border-radius: 10px;
    padding: 8px;
}


.about div:nth-child(1) img {
    width: 80%;
    border-radius: 20px;
}

.about div:nth-child(2) img {
    width: 20px;
}

.about button {
    background-color: blue;
}


//  ----------------EXPERIENCE----------------
.experience {
    height: fit-content;
    padding-top: 5vh 0;
}

.exp {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 10px;

    @media screen and (max-width : 700px) {
        & {
            grid-template-columns: 1fr;
            place-items: center;
            gap: 2vh;

        }
    }
}

.exp_box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 40vw;
    height: 60vh;
    border: 2px solid $color-head;
    border-radius: 20px;
    background-color: $bg-project_card;
    padding: 20px;

    @media screen and (max-width : 700px) {
        & {
            height: 40vh;
            width: 70vw;

        }
    }


}

.exp_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.exp_box_heading {
    @include flex;
    font-size: 25px;
    color: $color-head;
    text-transform: uppercase;
}

.abc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ac {
    display: grid;
    grid-template-columns: .2fr .8fr;
    grid-template-rows: 1fr 1fr;
}

.ac1 {
    grid-row: 1/3;
}

.aw {
    font-size: 20px;
}

@media screen and (max-width : 700px) {
    .aw {
        font-size: 15px;
    }
    .exp_box_heading {
        font-size: 20px;
    }
}

// -----------------------PROJECT------------------
.project_main {
    height: fit-content;
    padding: 5vh 0;
}

.project_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh
}

.project {
    @include flex(row, space-evenly, center, 20px);
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    cursor: pointer;
    background-color: $bg-input-card;
    @include flex(column, space-around, flex-start, 20px);
    position: relative;
    margin: 2vh;
    border-radius: 20px;
    box-shadow: 0 0 8px 6px white;

    & img {
        height: 500px;
        width: 300px;
        border-radius: 20px;

        @media screen and (max-width : 700px) {
            & {
                height: 450px;
                width: 250px;
            }
        }
    }

}

.card_action {
    background: linear-gradient(transparent, black, black);
    width: 93%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
}

// ---------------------CONTACT------------------

.contact_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh
}

.contact {
    height: fit-content;
    padding: 5vh 0;
    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 5vw;

    @media screen and (max-width : 700px) {
        & {
            grid-template-columns: 1fr;
            place-items: center;
            min-height: 40vh;
        }
    }
}

.contact_box1 {
    @include flex(column, flex-start, flex-end, 10px);

    @media screen and (max-width : 700px) {
        & {
            display: none;
        }
    }
}

.contact_card {
    background-color: $bg-input-card;
    padding: 10px;
    border-radius: 10px;
}

.contact_card img {
    width: 20px;
    padding-bottom: 2vh;
}

.contact_box2 {
    @include flex(column, flex-start, flex-start, 40px);

    @media screen and (max-width : 700px) {
        & {
            width: 60vw;
            @include flex(column, flex-start, center, 40px);
        }

        & button {
            width: 50%;
        }
    }
}

.input {
    width: 80%;
    background-color: $bg-input;
    border-radius: 15px;
    color: white;
    padding: 15px;
    font-size: 17px;
    color: blue;
}

@media screen and (max-width : 700px) {
    .input {
        width: 100%;
    }

}

// --------------------------------- FOOTER -------------------------------
.more_project {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(transparent,black);
    z-index: 12;
}