* {
    padding: 0;
    margin: 0;
    box-sizing: border;
    scroll-behavior: smooth;
}

$bg-card : red;
$bg-project_card : red;
$color-head : white;

@mixin flex($direction : row, $justify : center, $align : center, $gap : 0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

body {
    min-height: 100vh;
    background-color: rgb(0, 255, 255);
}

button {
    background-color: yellow;
    padding: 5px 10px;
    border: 2px solid yellow;
    border-radius: 5px;
}

// -----------NAVBAR---------------
.nav{
    position: fixed;
    width: 100vw;
    z-index: 2;
    transition: all .4s ease;
}
.navbar {
    @include flex(row, space-between, center, 0);
    padding: 10px;
    width: 95vw;

    & ul {
        @include flex(row, center, center, 10px);

        & li {
            @include flex(row, center, center, 0);

            @media screen and (max-width : 600px) {
                & {
                    display: none;
                }

            }
        }
    }
}

.hamburger {
    display: none;
}

@media screen and (max-width : 600px) {
    .hamburger {
        display: flex;
    }
}

a {
    text-decoration: none;
}

// -----------HOME----------------


.home {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 0 20px;
    position: relative;

    .a4 {
        display: none;
    }

    @media screen and (max-width : 600px) {
        & {
            grid-template-columns: 1fr;
            gap: 2vh;
            height: 70vh;
            background-color: rgb(33, 156, 156);
        }

        & div:nth-child(1) {
            order: 2;
        }

        & div:nth-child(2) {
            order: 1;
        }

        .a1,
        .a2,
        .a3 {
            display: none;
        }

        .a4 {
            display: flex;
            padding-top: 5vh;
        }
        
    }
}

.photo {
    height: 100%;
    width: 100%;
    @include flex;

}

.photo img {
    width: 100%;
    border-radius: 80px 80px 0 0;
}

@media screen and (min-width : 1200px) {
    .photo img {
        width: 80%;
    }

}
@media screen and (max-width : 600px) {
    .photo img {
        width: 100%;
    }

}

.option{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media screen and (max-width : 600px) {
    .option{
        display: flex;
    }
}


// -----------------ABOUT---------------------

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
    height: 60vh;

    @media screen and (max-width : 600px) {
        & {
            grid-template-columns: 1fr;
            gap: 2vh;
        }
    }

}

.about_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.about_box1 {
    @include flex(column, center, center, 20px);
}

.about_box2 {
    @include flex(column, center, center, 20px);
}

.about_cards {
    @include flex(row, center, center, 10px);
}

.about_card {
    @include flex(column, center, center, 4px);
    background-color: $bg-card;
    border-radius: 10px;
    padding: 8px;
}


.about div:nth-child(1) img {
    width: 80%;
    border-radius: 20px;
}

.about div:nth-child(2) img {
    width: 20px;
}



//  ----------------EXPERIENCE----------------
.experience {
    padding-top: 10vh;
    min-height: 100vh;
}

.exp {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 10px;

    @media screen and (max-width : 600px) {
        & {
            grid-template-columns: 1fr;
            place-items: center;
            gap: 2vh;

        }
    }
}

.exp_box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 40vw;
    height: 60vh;
    border: 2px solid $color-head;
    border-radius: 20px;
    background-color: $bg-project_card;
    padding: 20px;

    @media screen and (max-width : 600px) {
        & {
            height: 40vh;
            width: 70vw;

        }
    }


}

.exp_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.exp_box_heading {
    @include flex;
    font-size: 20px;
    color: $color-head;
    text-transform: uppercase;
}

.abc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ac {
    display: grid;
    grid-template-columns: .2fr .8fr;
    grid-template-rows: 1fr 1fr;
}

.ac img {
    width: 15px;
}

.ac1 {
    grid-row: 1/3;
}

// -----------------------PROJECT------------------
.project_main {
    min-height: 100vh;
    padding: 0 0 5vh 0;
}

.project_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh
}

.project {
    @include flex(row, center, center, 20px);
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 250px;
    height: 350px;
    border: 2px solid red;
    background-color: $bg-card;
    border-radius: 20px;
    padding: 5px 10px;
    @include flex(column, space-around, flex-start, 0);

    & img {
        width: 100%;
        border-radius: 20px;
    }

}

// ---------------------CONTACT------------------

.contact_heading {
    @include flex;
    font-size: 30px;
    color: $color-head;
    text-transform: uppercase;
    padding-bottom: 5vh
}

.contact {
    min-height: 70vh;
    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 5vw;

    @media screen and (max-width : 600px) {
        & {
            grid-template-columns: 1fr;
            place-items: center;
            min-height: 40vh;
        }
    }
}

.contact_box1 {
    @include flex(column, flex-start, flex-end, 10px);
    @media screen and (max-width : 600px) {
        & {
            display: none;
        }
    }
}

.contact_card {
    background-color: $bg-card;
    padding: 10px;
    border-radius: 10px;
}

.contact_card img {
    width: 20px;
    padding-bottom: 2vh;
}

.contact_box2 {
    @include flex(column, flex-start, flex-start, 10px);
    @media screen and (max-width : 600px) {
        & {
            @include flex;
        }
    }
}